.el-scrollbar__wrap {
	overflow-x: hidden;
}

.tai_message_layout {
	width: 100%;
	height: 100%;
	z-index: 10000;
}

.tai_message_layout .el-tabs {
	height: 100%;
	width: 100%;
}

.tai_message_layout .el-tabs__content {
	height: calc(100% - 60px);
	width: 100%;
}

.tai_message_layout .el-tab-pane {
	width: 100%;
	height: 100%;
}

.tai_message_layout .el-tabs__nav-scroll {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


/*地图弹出框*/

.c-popup-div {
	width: 400px;
}

.c-popup-title {
	width: 280px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	border-bottom: 1px solid #999999;
	background: url("../images/device_info.png") no-repeat;
	background-size: 20px;
	background-position-y: 50%;
	padding-left: 25px;
}

.c-popup-item {
	width: 300px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	overflow: hidden;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.c-popup-div button {
	margin-left: 29%;
	margin-top: 10px;
	background-color: #409eff;
	color: #ffffff;
	border: 0;
	font-size: 14px;
	border-radius: 5px;
	padding: 2px 20px;
}


/*自定义进度条*/

.dragbox {
	width: 200px;
	position: relative;
	height: 8px;
	background-color: red;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress {
	background: #CDCDCD;
	margin-bottom: 0px;
	height: 8px;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progressbar {
	background-color: #409EFF;
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.bardrag {
	position: absolute;
	top: -3px;
	left: 10px;
	display: inline-block;
	height: 12px;
	width: 10px;
	background-color: #409EFF;
	border: 1px solid #e1e0de;
	border-radius: 10px;
	cursor: e-resize;
}

.dragnum {
	display: inline-block;
	vertical-align: middle;
}

.nowbar {
	margin-top: 10px;
}

.el-dialog--center .el-dialog__body {
	padding: 15px 25px 15px;
}

.el-dialog__title {
	font-family: NSimSun;
	font-weight: bold;
	color: #409EFF;
}

.el-table__body-wrapper {
	height: 249px;
	overflow-y: auto;
}

.el-button {
	padding: 6px 25px;
	font-size: 12px;
}

.el-select-dropdown__list {
	padding-bottom: 20px;
}

